<div class="m-3">
<h1>Restaurants</h1>
<br>
<br>

<h3><%= @restaurant.name %></h3>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<hr>
<%= link_to 'Back', restaurants_path, class: "btn btn-success" %>

<br>
<br>

<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit%>
<% end %>

<br>
<br>

<% @restaurant.reviews.each do |review|  %>
  <p><%= review.content %> - <%= review.rating %></p>
  <hr>
<% end %>

</div>
